.login-wrap{
    width: 100%;
    height: 100%;
    // background-color: #dedede;
   
    .login-card{
        background-color: rgb(15, 10, 41);
        width: 480px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
        border: 2px solid rgba(200, 220, 201, 1);
        border-image: linear-gradient(90deg,transparent, rgba(76, 200, 216, 1), transparent) 5 5;
        &:hover{
        box-shadow: 0px 0px 6px 1px rgba(146, 146, 165, 1)
        }
        .ant-card-body{
            border: 2px solid rgba(200, 220, 201, 1);
            border-image: linear-gradient(transparent, rgba(76, 200, 216, 1), transparent) 5 5;
        }
        .ant-input-affix-wrapper{
            background-color: rgb(15, 10, 41);
            .ant-input-prefix{
                .anticon{
                    color: rgb(137, 157, 201) !important;
                }
            }
            .ant-input{
                background-color: transparent;
                color: rgb(137, 157, 201) !important;
            }
        }
    }
    .login-title{
        color: #fff;
        margin: 20px 0;
    }
    .avatar{
        display: block;
        margin: 10px auto;
    }
    .login-form{
        width: 300px;
        margin: 0 auto;
        .ant-checkbox-wrapper{
            color: rgb(137, 157, 201);
        }
        .no-account{
            color: rgb(137, 157, 201);
        }
    }
    .login-form-button{
        width: 100%
    }
    .login-form-forgot{
        float: right;
    }
}