.screen-main-wrap{
    display: flex;
    height: 89vh;
    padding: 1vh;
    .left{
        flex: 3;
        background-color: blueviolet;
        
    }
    .center{
        flex: 6;
        margin: 0 2vh;
    }
    .right{
        flex: 3;
        background-color: blueviolet;
    }
}