.tb-layout-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-item{
    }
    .card-top{
        flex: 1;
        margin-bottom: 10px;
    }
    .card-bottom{
        flex:1;
    }
}