.App {
  text-align: center;
  height: 100%;
  background:rgba(10,24,50,1);
  background-image: radial-gradient(rgba(9, 50, 153, 1), rgba(10, 24, 50, 1),rgba(11, 19, 33, 1) );
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}