.card-container{
    padding: 5px;
    margin-top: 10px;
    .top{
        .ind-name{
            text-align: left;
            padding-left: 10px;
        }
        .trand-data{
            display: flex;
            .num{
                flex: 1 4 auto;
                color: rgb(84, 47, 61);
                font-size: 18px;
            }
            .year{
                flex: 1 1 auto;
                font-size: 12px;
            }
            .day{
                flex: 1 1 auto;
                font-size: 12px;
            }
        }
    }
    .bottom {
        border-top: 1px solid rgba(255,255,255, 0.1);
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        padding-top:5px;
        color: rgb(255, 255, 255, .4);
    }
}